h2{
    font-family: "Playfair Display", serif;
    font-style: normal;
}

.plane{background-image: url('../public/plane.png'); /* Update this with the correct path to your image */
    width: 140px;
    height: 140px;
    background-size: cover;
    position: absolute;
    margin-top: -500px;
}
.plane1{background-image: url('../public/plane2.png'); /* Update this with the correct path to your image */
    width: 180px;
    height: 140px;
    background-size: cover;
    position: absolute;
    margin-top: -100px;
    margin-left: -400px;
}
.clouds{background-image: url('../public/clouds.png'); /* Update this with the correct path to your image */
    width: 200px;
    height: 140px;
    background-size: cover;
    position: absolute;
    margin-top: -400px;
    margin-left: 500px;
    filter: drop-shadow(0 0 0.75rem rgb(216, 214, 216));
}
.banner{
    filter: drop-shadow(0 0 0.75rem rgb(216, 214, 216));
}
.travl{
    float: left;
    margin-right:15px;
    
}